ClientApp/Connected Services/DuplexServiceReference/Duplex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Duplex" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IDuplex_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/DuplexService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/DuplexService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/DuplexService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
      <xsd:import schemaLocation="http://localhost:8001/DuplexService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuplex_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IDuplex_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplex_TestService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="IDuplex_SendResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SendResult" />
  </wsdl:message>
  <wsdl:message name="IDuplex_GetMatrixData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatrixData" />
  </wsdl:message>
  <wsdl:message name="IDuplex_GetMatrixData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatrixDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplex_SetStage_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStage" />
  </wsdl:message>
  <wsdl:message name="IDuplex_SetStage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStageResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplex_Test_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IDuplex_Test_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplex_Message_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IDuplex_SendData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendData" />
  </wsdl:message>
  <wsdl:message name="IDuplex_DataSync_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DataSync" />
  </wsdl:message>
  <wsdl:message name="IDuplex_DataSync_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DataSyncResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplex_StartWork_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartWork" />
  </wsdl:message>
  <wsdl:message name="IDuplex_JoinAccept_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinAccept" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDuplex">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplex/Join" message="tns:IDuplex_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/JoinResponse" message="tns:IDuplex_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TestService">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplex/TestService" message="tns:IDuplex_TestService_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplex/SendResult" message="tns:IDuplex_SendResult_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMatrixData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplex/GetMatrixData" message="tns:IDuplex_GetMatrixData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/GetMatrixDataResponse" message="tns:IDuplex_GetMatrixData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetStage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplex/SetStage" message="tns:IDuplex_SetStage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/SetStageResponse" message="tns:IDuplex_SetStage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Test">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/Test" message="tns:IDuplex_Test_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplex/TestResponse" message="tns:IDuplex_Test_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Message">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/Message" message="tns:IDuplex_Message_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendData">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/SendData" message="tns:IDuplex_SendData_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DataSync">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/DataSync" message="tns:IDuplex_DataSync_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplex/DataSyncResponse" message="tns:IDuplex_DataSync_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartWork">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/StartWork" message="tns:IDuplex_StartWork_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinAccept">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplex/JoinAccept" message="tns:IDuplex_JoinAccept_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IDuplex" type="tns:IDuplex">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IDuplex_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/TestService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendResult">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/SendResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetMatrixData">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/GetMatrixData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStage">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/SetStage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/Message" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/SendData" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataSync">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/DataSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWork">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/StartWork" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinAccept">
      <soap12:operation soapAction="http://tempuri.org/IDuplex/JoinAccept" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Duplex">
    <wsdl:port name="WSDualHttpBinding_IDuplex" binding="tns:WSDualHttpBinding_IDuplex">
      <soap12:address location="http://localhost:8001/DuplexService/DuplexService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8001/DuplexService/DuplexService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>