ClientApp/Connected Services/DuplexServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/DuplexService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="bestDistance" type="xs:int" />
      <xs:element minOccurs="0" name="bestVertice" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listOfVertices" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberOfThreads" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientData" nillable="true" type="tns:ClientData" />
  <xs:simpleType name="STAGE_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JOIN" />
      <xs:enumeration value="DATA_SYNC" />
      <xs:enumeration value="BRIEF" />
      <xs:enumeration value="EXECUTE" />
      <xs:enumeration value="STATS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="STAGE_TYPE" nillable="true" type="tns:STAGE_TYPE" />
</xs:schema>